<div class="ml-5">
<% if user_signed_in? %>
<ul>
  <% @friends.each do |friend| %>
    <% if friend.friend_id != current_user.id and friend.user_id == current_user.id%>
      <li>
      <%= image_tag("images.png",class:"rounded-circle",height:"35") %> 
      <%= link_to friend_name_finder(friend.friend_id), users_path(id: friend.friend_id) %> <br>
      <%= link_to "un-friend", friend_path(friend.id), method: :delete, class:"btn btn-danger btn-sm"%>
      </li>
      <% @friend_count += 1 %>
    <% elsif friend.user_id != current_user.id and friend.friend_id == current_user.id%>
      <li>
      <%= image_tag("images.png",class:"rounded-circle",height:"35") %> 
      <%= link_to friend_name_finder(friend.user_id), users_path(id: friend.user_id) %> <br>
      <%= link_to "un-friend", friend_path(friend.id), method: :delete, class:"btn btn-danger btn-sm"%>
      </li>
      <% @friend_count += 1 %>
    <%end %>
  <% end %>   
</ul>
  <h5> Total Friends <%= @friend_count %> </h5>    
<% else %>
    <% redirect_to new_user_session_path%>
<% end%>
</div>

