<% if user_signed_in? %>
  <ul>
      <% @posts.each do |post|%>
        <% if post_friend_checker(post.user_id, @friends)%>
        <li>
          <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><%= link_to post.user.name , class:"card-title"%></h5>    
                    <p class="card-subtitle mb-2 text-muted"><%= post.created_at.strftime("at %I:%M%p %m/%d/%Y") %></p>
                    <p class="card-text"><%= post.content %></p>
                    <% if current_user.id == post.user_id %>
                      <p><%= link_to "Edit", edit_post_url(post.id) %>
                      <%= link_to "Delete", post_url(post.id), method: :delete %></p>
                    <%end%>
                   <%= button_to 'like', like_path(post.id), method: 'put'%>
                </div>
          </div>
        </li>
        <br>
        <p>Comments</p>
        <% post.comments.each do |comment| %>
          <p>
            <%=link_to comment.user.name %>
            <%= comment.body %>
          </p>
        <% end %>

        <%= form_with model: [ post, post.comments.build ] do |form| %>
          <p>
            <%= form.text_field :body, placeholder:"comment.." %>
            <%= form.submit %>
          </p>
        <% end %>

      <%end%>
    <%end %>
    </ul>
    
<% else %>
  <%= render 'layouts/welcome' %>
<% end%>