<div class="ml-5">
  <h3>From <%= current_user.name %></h3>
  <%= form_with(model: @post) do |f|%>
    <%= f.text_area :content , placeholder:"write here.." %> <br>
    <% f.hidden_field :user_id, value: current_user.id%>
    <%= f.label :image %>
    <%= f.file_field :image, class:"form-control"%>
    <%= f.submit "create post", class:"btn btn-primary"%>
  <%end%>
</div>