<div class="ml-5">
<% if user_signed_in? %>
    <ul>
        <% @user.posts.each do |p|%>
                <li>
                <% @post_count += 1 %>
                <div class="card" style="width: 31.5rem;">
                        <div class="card-body">
                            <h5><%= link_to current_user.name, users_path(id:current_user.id), class:"card-title"%></h5>    
                            <p class="card-subtitle mb-2 text-muted"><%= p.created_at.strftime("at %I:%M%p %m/%d/%Y") %></p>
                            <p class="card-text"><%= p.content %></p>
                            <% if p.image.attached? %>
                              <%=(image_tag url_for(p.image), style: "width: 287px; display:block")%>
                            <%end %>
                            <p><%= link_to "Edit", edit_post_url(p.id) %>
                            <%= link_to "Delete", post_url(p.id), method: :delete %></p>
                        </div>
                </div>
                </li>
                <br>
        <%end%>
        <h5> Total posts <%= @post_count %> </h5>
    </ul>
</div>
<% else %>
    <% redirect_to new_user_session_path %>
<% end%>


